<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Album created!</h1>
    <p>
      Your album has been successfully created on <b>ImageGallery</b>.
    </p>
    
    <p>Thanks for being an active user and have a great day!</p>
  </body>
</html>