<% if @image_album.present? %>
<h1 class="text-danger text-center">Edit Image Album</h1>
<div class="container w-50 text-center bg-light border border-dark p-2">
    <%=render "form", image_album: @image_album%>
</div>
<% else %>
<h3 class="text-danger"><%= @response %></h3>
<% end %>