<h1>Albums</h1>
<%=link_to "Create new Ablum", new_image_album_path%>
<div class="row mb-3">
<% @image_albums.each do |image_album|%>

 <div class="card col-sm-4 mb-2">
  <%=image_tag image_album.thumbnail, class: "p-2 img-fluid h-75 w-100"%>
  <div class="card-body text-center">
    <h5 class="card-title "> <%= link_to image_album.title, image_album, class: "text-danger text-decoration-none"%></h5>
  </div>
 </div>  

<%end%>
</div>