.bg_img{
    background-image: url("bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.title{
    color: red;
}